body {
    background-image: url(img/arbre_reseau3_left.png),url(img/arbre_reseau3_right.png);
    background-repeat: no-repeat,no-repeat;
    background-position: top 6.2em left,top 5.7em right;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6.3em;
    margin-left: 3%;
    margin-right: 3%;
}

section {
    max-width: 80em;
}

.footer_absolute {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ----------------------------------------------------------------------------- TEXTES */
/* xx-small 0.6, x-small 0.75, small 8/9, medium 1, large 1.2, x-large 1.5, xx-large 2 */
h1, .titre {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

h3 {
    font-size: medium;
}

h4 {
    font-size: small;
    font-weight: bold;
}

h5 {
    font-size: small;
}

h6 {
    font-size: .73em;
}

/* ----------------------------------------------------------------------------- LIENS */
a:focus {
    outline: none !important;
}

a i:hover, a:hover {
    color: #e85017;
    text-decoration:none;
}

.liens {
    text-decoration:none;
}

.liens:hover {
    color: #e85017 !important;
}

a.dropdown-item {
    font-size: 0.8em;
}

.rotate {
    transform-origin: 50% 50%;
    transform: rotateY(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

.pointeur {
    cursor: pointer;
}

/* ----------------------------------------------------------------------------- DIVIDER */
.orange-divider {
    width: 235px;
    height: 2px;
    background: #e85017;
}

/* ----------------------------------------------------------------------------- NAVBAR */
.navbar {
    background-color: rgb(0, 90, 119);
    font-size: 0.95em;
    letter-spacing: 1px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.nav-pills .nav-link {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    color: rgb(0, 90, 119) !important;
    background-color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.nav-link-toggle {
  color: rgb(232, 80, 23) !important;
  background-color: #fff !important;
}

#pdn_title {
    display: none;
}

/* ----------------------------------------------------------------------------- COULEURS PDN */
.orange {
    color: rgb(232, 80, 23);
}
.bleu {
    color: rgb(0, 90, 119);
}
.bg_orange {
    background-color: rgb(232, 80, 23) !important;
}
.bg_bleu {
    background-color: rgb(0, 90, 119);
}

/* ----------------------------------------------------------------------------- ACCUEIL / INDEX */
#menuPres {
    overflow-x: hidden;
    margin-left: 7%;
    margin-right: 7%;
}

.popover-body {
    background-color: #e5eef1;
    text-align: center;
    font-weight: bold;
    color : #005a77;
}

/* ----------------------------------------------------------------------------- PRESENTATION */
#sectionPres {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.contenuPres {
    margin-top: 10em;
    max-width: 100%;
}

.bulleDispositif {
    position: relative;
    top: -100px;
    left : -90px;
}

.bgDispositif {
    background-image:url("img/pres/pdn dans rond100.PNG");
    background-position : 98% 1em;
    background-repeat:no-repeat;
}

.bgCoordo {
    background-image:url('img/pres/fol93b70.jpg');
    background-position : 98% 1em;
    background-repeat:no-repeat;
}

.divDispositif {
     margin-left: 5%;
     margin-right: 5%;
     margin-bottom: 5em;
     color : #4e4e4e;
     border : 2px solid #005a77;
     border-radius: 20px;
     box-shadow: 6px 6px 6px #aaa;
     background-color: #fff;
     padding : 2em 3em 1em 3em;
}

.titreDispositif {
    position: relative;
    margin-top: -9em;
}

.contenuDispositif {
    position: relative;
    margin-top: -0.5em;
}

#objectifs {
    margin-left: 3em !important;
    margin-right: 3em !important;
    background-color:#ccdee4;
}

#contenuDispositif1_2 {
    position: relative;
    margin-top: -3em !important;
}

.textPres {
    font-size: 0.85em;
	font-weight: 400;
    vertical-align: text-top;
    text-align: justify;
}

/* ----------------------------------------------------------------------------- STRUCTURES */

.card {
    margin-top: 0.65em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 4px 4px 4px #bbb;
    border-radius: 2%;
}

.card:hover {
    margin-top: 0em;
}

.border_none {
    border : none !important;
}

.card-body {
    padding: 0.5em;
}

.interligne  {
    line-height: 1.5em;
}

.btn-outline-secondary:hover {
    background-color: white;
    color : #2a2625;
    border-color: #2a2625;
}

/* ----------------------------------------------------------------------------- PROMENEURS */
figure {
    margin-top: 0.55em;
    border-left : 3px solid #005a77;
    border-right : 1px solid #005a77;
    border-top : 2px solid #005a77;
    border-radius: 15% 15% 15% 15%;
    opacity: 0.88;
    box-shadow: 4px 4px 4px #bbb;
}

figure:hover {
    margin-top : 0em;
    opacity: 1;
}

/* ----------------------------------------------------------------------------- RESSOURCES */

.borderCat {
	padding: .4em .6em;
	text-align: center;
	border-radius: .80em;
    color : #fff;
    background-color: #005a77;
    box-shadow: 4px 4px 4px #bbb;
}

.borderCat:hover {
    background-color: #e85017 !important;
}

.borderThem {
	padding: .2em .3em;
	text-align: center;
	border-radius: .80rem;
    background-color: #fff;
    color : #005a77;
    box-shadow: 4px 4px 4px #bbb;
}

.borderThem:hover {
    background-color: #e85017 !important;
    color : #fff !important;
}

/* .selectedThem{
    background: #e85017 !important;
    color : #fff !important;
} */

#divRessCat h3 {
    font-size: .94em;
    font-weight: 700;
}

#divRessThem h5 {
    font-size: .9em;
    font-weight: 600;
}

#divRessThem {
    margin-left: 10%;
    margin-right: 10%;
}

#divRessOut {
    margin-left: 13%;
    margin-right: 13%;
}

.borderOut {
	padding: .2em .3em;
    margin-bottom: 0em;
	border-radius: .80rem;
    background-color: #fff;
    color : #005a77;
    box-shadow: 4px 4px 4px #bbb;
}

.borderOut:hover {
    background-color: #e85017 !important;
    color : #fff !important;
}

.borderOutClicked {
	border-radius: .80em .80em 0rem 0rem !important;
}

.borderOutDetails {
	padding: 1em;
    border-radius: 0em 0em .80rem .80rem;
    background-color: #fff;
    color : #005a77;
    box-shadow: 4px 4px 4px #bbb;
}

.textDescription {
  font-size: 0.9em !important;
}

/* ----------------------------------------------------------------------------- CONNEXION */

#oublie:hover {
    color: #ffc107 !important;
}

/* ----------------------------------------------------------------------------- MODAL */

.modal-header {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.modal-body  {
    padding-top: 0.5em;
    padding-bottom: 0em;
}

.modal-footer {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

/* ----------------------------------------------------------------------------- ANIMATIONS */

.icone, {
    position: relative;
}

/* bulle orange */
#path828-9-2-6-3 {
    stroke-dasharray:400 !important;
    stroke-dashoffset:400;
    animation: anim2 9s ease forwards;
}

/* bulle bleue */
#path828-5-9 {
    /* 1ère valeur : trait plein, 2ème valeur : vide */
    stroke-dasharray:430 !important;
    stroke-dashoffset:430;
    animation: anim 5s ease forwards;
}

/* texte PDN */
#path848 {
    animation: opa 5.6s ease;
}

/* texte 93 */
#path17 {
    animation: opa 3.3s step-end;
}

@keyframes opa {
    from {
        fill-opacity:0;
        stroke-opacity:0;
    }
   to {
       fill-opacity:1;
       stroke-opacity:1;
   }
}

@keyframes anim {
   to {
       stroke-dashoffset: 0;
   }
}

@keyframes anim2 {
   to {
       stroke-dashoffset: 0;
   }
}

/* ----------------------------------------------------------------------------- ! ! ! R E S P O N S I V E ! ! !  */

@media screen and (max-width: 80em) {
    body {
        background-image: url(img/arbre_reseau3_left.png);
        background-repeat: no-repeat;
        background-position: top 9em left;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 434px) {
    #pdn_title {
        display: inline;
    }
    #prom_title {
        display: none;
    }
}

/* ----------------------------------------------------------------------------- ACCUEIL */

@media screen and (min-width: 1281px) and (max-width: 1485px) {
    .rowMenu {
        width:80% !important;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .rowMenu {
        width:90% !important;
    }
}

@media screen and (max-width: 1100px) {
    .rowMenu {
        width:100% !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #divAccStr, #divAccOut {
      justify-content: start !important;
    }
    #divAccPres, #divAccPdn {
      justify-content: end !important;
    }
}

@media screen and (max-width: 575px) {
    #etqPres, #etqStr, #etqPdn, #etqRes {
        margin-bottom: 1em;
    }
    #menuPres {
        margin-top: 1.5em !important;
    }
}

@media screen and (max-width: 400px) {
    #etqPres, #etqStr, #etqPdn, #etqRes {
        height : 50px;
    }
}

/* ----------------------------------------------------------------------------- PRÉSENTATION */

@media screen and (max-width: 1500px) {
    #sectionPres {
        margin-left: 14%;
        margin-right: 14%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #sectionPres {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 991px) {
    #sectionPres {
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
}

@media screen and (min-width: 768px) and (min-height: 640px) {
  #footer_pres {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .containerPres {
    min-height: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .bulleDispositif, .bulleCoordo, .bullePilotes {
      height : 120px !important;
      left : -50px !important;
      margin-bottom: 1em;
    }
    #objectifs {
      margin-top: 0em !important;
      margin-left: 1.5em !important;
      margin-right: 1.5em !important;
      margin-bottom: 0em !important;
    }
    .divDispositif {
      padding: 1em !important;
      margin: 0.5em !important;
    }
    .textPres {
      font-size: 0.9em !important;
      padding: 1em !important;
    }
    .imgBgDispositif {
        padding-top: 4em !important;
    }
    #pres1_1a {
      padding-left: 5em !important;
    }
    #pres1_2c {
      padding-left: 11em !important;
    }
    #pres1_3a {
      padding-left: 6em !important;
    }
    span.textPres {
      margin: 0em !important;
      padding: 5em 1em 0em 1em !important;
    }
    .bgDispositif {
      background-position: 50% 2.5em !important;
    }
    #missions {
      padding-top: 0em !important;
    }
    .pilotes {
      display: block !important;
      text-align: center;
    }
    .img-pilotes {
      margin: 1em;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .containerPres {
      padding: 0.5em !important;
      margin-top: 4em !important;
    }
    .bulleDispositif, .bulleCoordon, .bullePilotes {
      display: none;
    }
    .contenuPres {
      margin-top: 0em !important;
    }
    #objectifs {
      margin-top: 0em !important;
      margin-left: 1.5em !important;
      margin-right: 1.5em !important;
      margin-bottom: 0em !important;
    }
    .titreDispositif {
      margin-top: 0em !important;
    }
    .titreDispositif h2 {
      font-size: 0.9em;
    }
    .divDispositif {
      padding: 1em !important;
      margin: 0.5em !important;
    }
    .textPres {
      font-size: 0.9em !important;
      padding: 1em !important;
      margin: 1em;
    }
    span.textPres {
      margin: 0em !important;
      padding: 5em 1em 0em 1em !important;
    }
    .imgBgDispositif {
        padding-top: 4em !important;
    }
    .bgDispositif {
      background-position: 50% 2.7em !important;
    }
    .bgCoordo {
      background-image: none !important;
    }
    #missions {
      padding-top: 0em !important;
    }
    .pilotes {
      display: block !important;
      text-align: center;
    }
    .img-pilotes {
      margin: 1em;
    }
}

@media screen and (max-width: 575px) {

    .containerPres {
      padding: 0.5em !important;
      margin-top: 4em !important;
    }
    .bulleDispositif, .bulleCoordon, .bullePilotes {
      display: none;
    }
    .contenuPres {
      margin-top: 0em !important;
    }
    #objectifs {
      margin-top: 0em !important;
      margin-left: 1.5em !important;
      margin-right: 1.5em !important;
      margin-bottom: 0em !important;
    }
    .titreDispositif {
      margin-top: 0em !important;
    }
    .titreDispositif h2 {
      font-size: 0.8em;
    }
    .divDispositif {
      padding: 1em !important;
      margin: 0.5em !important;
    }
    .textPres {
      font-size: 0.8em !important;
      padding: 1em !important;
      margin: 1em;
    }
    span.textPres {
      margin: 0em !important;
      padding: 5em 1em 0em 1em !important;
    }
    .imgBgDispositif {
        padding-top: 4em !important;
    }
    .bgDispositif {
      background-position: 50% 2.7em !important;
    }
    #video {
      width : 260px !important;
      height : 180px !important;
    }
    .bgCoordo {
      background-image: none !important;
    }
    #missions {
      padding-top: 0em !important;
    }
    .pilotes {
      display: block !important;
      text-align: center;
    }
    .img-pilotes {
      margin: 1em;
    }
}

@media screen and (max-width: 492px) {
    body {
      line-height: 1.2em !important;
    }
    #sectionPres {
        margin-left: 0%;
        margin-right: 0%;
    }
    .bgDispositif {
      background-position: 50% 2.3em !important;
    }
    .divDispositif h2 {
        font-size: 0.73em;
        line-height: 1.5em;
        letter-spacing: 0em !important;
    }
    .divDispositif {
        padding: 0.5em !important;
    }
    .textPres {
        margin: 0;
    }
}

/* ----------------------------------------------------------------------------- STRUCTURES */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #structures {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #structures {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #structures {
        margin-left: 25%;
        margin-right: 25%;
    }
    .divVisuMap {
        text-align: right !important;
    }
    #choixVille {
        margin-top: 1em;
        margin-right: 0em !important;
        max-width: 220px !important;
    }
}

@media screen and (max-width: 575px) {
    body {
        margin-top: 5em !important;
    }

    #structures {
        margin-top: 1em !important;
    }

    .divTitre {
        text-align: center;
    }

    .divTitre h1 {
        margin-bottom: 0.1em;
    }

    .orange-divider {
        margin: auto;
    }

    .divVisuMap {
        margin-top: 1em;
        text-align: center !important;
    }

    .divChoixVille {
        justify-content: center !important;
    }

    #choixVille {
        margin-top: 1em;
        max-width: 220px !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 575px) {
    #structures {
        margin-left: 17%;
        margin-right: 17%;
    }
}

@media screen and (min-width: 412px) and (max-width: 500px) {
    #structures {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 411px) {
    #structures {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* ----------------------------------------------------------------------------- PROMENEURS */

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #promeneurs {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #promeneurs {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #promeneurs {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #promeneurs {
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #promeneurs {
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media screen and (min-width: 501px) and (max-width: 575px) {
    #promeneurs {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 575px) {
    #promeneurs {
        margin-top: 1em !important;
    }
    #modalPdn h2, h3 {
        font-size: 0.9em;
    }
}

/* ----------------------------------------------------------------------------- RESSOURCES */

@media screen and (max-width: 575px) {
    #divRessCat {
        margin-top: 1em !important;
    }
    .borderCat {
        margin-top: 0.5em !important;
    }
    .borderThem {
        margin-top: 0.1em !important;
    }
    #divRessOut, #divRessThem {
        margin: 1em;
    }
    /* #ident {
        min-width: 10em !important;
    } */
}

/* ----------------------------------------------------------------------------- CONNEXION */

@media screen and (max-height: 520px) {
    #footer_conn {
      position: relative;
    }
}

/* ----------------------------------------------------------------------------- FORMULAIRE */

@media screen and (min-width: 1400px) and (max-width: 1450px) {
    .form_pad {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #form_form {
        margin-left: 9%;
        margin-right: 9%;
    }
}

@media screen and (min-width: 760px) and (max-width: 991px) {
    #form_form {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 415px) and (max-width: 759px) {
    #form_form {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 414px) {
    #form_form {
        margin-left: 0%;
        margin-right: 0%;
    }
    .form_pad {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    .form_pad .row {
        margin-top: 0em !important;
    }
    .formDate {
        display: block !important;
        margin: auto;
        max-width: 200px;
    }
    #mois {
        margin-top: 1em;
    }
}
